<div class="card" style="display: flex; justify-content: space-between; align-items: center;">
  <div>
      <h2>Want to sell in this category?</h2>
      <p>All you have to do is click the button below and fill out the form!</p>
  </div>
  <img src="/plus.png" alt="plus" height="50px" width="50px" routerLink="/add/{{categoryId()}}">
</div>

@for (product of products(); track product.id){
  <div class="card">
    <h2>{{product.name}}</h2>
    <p>{{product.description}}</p>
    <div class="product-buttons">
      <div>
        <button style="background-color: #FF7070" (click)="deleteProduct(product.id)">Delete</button>
        <button style="background-color: #568FDA" routerLink="/update/{{product.id}}/{{product.name}}/{{product.description}}/{{product.price}}/{{product.category_id}}">Update</button>
      </div>
      @if (!isInCart(product.id)){
        <button style="background-color: #56DA70" (click)="addToCart(product.id, product.name, product.description, product.price)">Add To Cart</button>
      }
    </div>
  </div>
}

<app-navigation
  [currentPage]="currentPage()"
  [totalItems]="allProducts().length"
  [itemsPerPage]="productsOnPage()"
  (pageChange)="onPageChange($event)"
></app-navigation>
