@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Please select your desired flights and hotels!</h1>
    <p>Use the navigation items to select them.</p>
</div>