@for (product of products(); track product.id){
  <div class="card">
    <h2>{{product.name}}</h2>
    <p>{{product.description}}</p>
    <div class="product-buttons">
        <button style="background-color: #FF7070" (click)="removeFromCart(product.id)">Buy</button>
        <button style="background-color: #FFB25A" (click)="removeFromCart(product.id)">Remove from cart</button>
    </div>
  </div>
}

<app-navigation
  [currentPage]="currentPage()"
  [totalItems]="allProducts().length"
  [itemsPerPage]="productsOnPage()"
  (pageChange)="onPageChange($event)"
></app-navigation>
